html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: linear-gradient(0deg, rgba(109,172,255,1) 0%, rgba(136,235,255,1) 100%);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#quote {
  font-family: 'Indie Flower', cursive;
  font-size: 6vw;
  padding: 3vw;
  color: #fff;
  text-shadow: 0 0 10px #000;
  text-align: center;
}
