html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-image: url(https://source.unsplash.com/featured/1920x1080);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#quote {
  font-family: 'Indie Flower', cursive;
  font-size: 6vw;
  text-shadow: 0 0 10px #000;
  color: #fff;
}
